.users-container{
    display: flex;
    flex-direction: column;
    font-family: 'Advent Pro', sans-serif;
}



hr{
    width: 1549px;
    margin: 0px 0 31px 40px
}


.usuario-titulo{
    margin: 40px 0 20px 47px;
    
    color: rgba(0, 0, 0, 0.44);
    
    font-weight: 400;
    font-size: 25px;
}

.usuario-bold{

    font-weight: bold;
}

.all-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 24px;
    
    margin-left: 40px;
    
    width: 1550px;
}